In [287]:
import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('cleaned_dataset.csv')
df.head()
print(df.head())

     Locality  Zip Code Type of Property Subtype of Property   Price  \
0  Schaerbeek      1030            House               house  365000
1        Gent      9000            House             mansion  725000
2      Ninove      9400            House               villa  349000
3   Varsenare      8490        Apartment           apartment  180000
4     Jupille      4020            House               house  665000

   Type of Sale  Number of Rooms  Livable Space (m2)  Fully Equipped Kitchen  \
0             1                5                 186                       1
1             1                5                 330                       1
2             1                3                 199                       1
3             1                3                  96                       0
4             1                6                 282                       1

   Furnished  ...  Terrace Area (m2)  Garden  Garden Area (m2)  Swimming Pool  \
0          0  ...                  8       0                 0              0
1          0  ...                  0       0                 0              0
2          0  ...                  0       0                 0              0
3          0  ...                  0       0                 0              0
4          0  ...                121       1               729              1

   Surface of the Land (m2)  Number of Facades  Construction Year  PEB  \
0                        57                  2               1910    0
1                       107                  2               1850    2
2                       365                  4               1985    1
3                         0                  2               1980    4
4                       942                  4               2020    5

   Primary Energy Consumption (kWh/m2)  State of the Building
0                                  449                      5
1                                  489                      1
2                                  616                      3
3                                  276                      5
4                                  151                      3

[5 rows x 22 columns]

In [288]:
print("Shape of df", df.shape)

Shape of df (12378, 22)

In [289]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12378 entries, 0 to 12377
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             12378 non-null  object
 1   Zip Code                             12378 non-null  int64
 2   Type of Property                     12378 non-null  object
 3   Subtype of Property                  12378 non-null  object
 4   Price                                12378 non-null  int64
 5   Type of Sale                         12378 non-null  int64
 6   Number of Rooms                      12378 non-null  int64
 7   Livable Space (m2)                   12378 non-null  int64
 8   Fully Equipped Kitchen               12378 non-null  int64
 9   Furnished                            12378 non-null  int64
 10  Open Fire                            12378 non-null  int64
 11  Terrace                              12378 non-null  int64
 12  Terrace Area (m2)                    12378 non-null  int64
 13  Garden                               12378 non-null  int64
 14  Garden Area (m2)                     12378 non-null  int64
 15  Swimming Pool                        12378 non-null  int64
 16  Surface of the Land (m2)             12378 non-null  int64
 17  Number of Facades                    12378 non-null  int64
 18  Construction Year                    12378 non-null  int64
 19  PEB                                  12378 non-null  int64
 20  Primary Energy Consumption (kWh/m2)  12378 non-null  int64
 21  State of the Building                12378 non-null  int64
dtypes: int64(19), object(3)
memory usage: 2.1+ MB
None

In [290]:
df.dropna(subset=['Price'], inplace=True, ignore_index=True)
df.info(25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12378 entries, 0 to 12377
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Locality                             12378 non-null  object
 1   Zip Code                             12378 non-null  int64
 2   Type of Property                     12378 non-null  object
 3   Subtype of Property                  12378 non-null  object
 4   Price                                12378 non-null  int64
 5   Type of Sale                         12378 non-null  int64
 6   Number of Rooms                      12378 non-null  int64
 7   Livable Space (m2)                   12378 non-null  int64
 8   Fully Equipped Kitchen               12378 non-null  int64
 9   Furnished                            12378 non-null  int64
 10  Open Fire                            12378 non-null  int64
 11  Terrace                              12378 non-null  int64
 12  Terrace Area (m2)                    12378 non-null  int64
 13  Garden                               12378 non-null  int64
 14  Garden Area (m2)                     12378 non-null  int64
 15  Swimming Pool                        12378 non-null  int64
 16  Surface of the Land (m2)             12378 non-null  int64
 17  Number of Facades                    12378 non-null  int64
 18  Construction Year                    12378 non-null  int64
 19  PEB                                  12378 non-null  int64
 20  Primary Energy Consumption (kWh/m2)  12378 non-null  int64
 21  State of the Building                12378 non-null  int64
dtypes: int64(19), object(3)
memory usage: 2.1+ MB

In [291]:
df.head(20)

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building
0,Schaerbeek,1030,House,house,365000,1,5,186,1,0,...,8,0,0,0,57,2,1910,0,449,5
1,Gent,9000,House,mansion,725000,1,5,330,1,0,...,0,0,0,0,107,2,1850,2,489,1
2,Ninove,9400,House,villa,349000,1,3,199,1,0,...,0,0,0,0,365,4,1985,1,616,3
3,Varsenare,8490,Apartment,apartment,180000,1,3,96,0,0,...,0,0,0,0,0,2,1980,4,276,5
4,Jupille,4020,House,house,665000,1,6,282,1,0,...,121,1,729,1,942,4,2020,5,151,3
5,Bruxelles,1000,House,exceptional-property,895000,1,4,277,1,0,...,14,1,52,0,0,2,1897,2,230,3
6,Woluwe-saint-pierre,1150,House,mixed-use-building,850000,1,4,520,1,0,...,20,0,0,0,388,3,1963,1,287,3
7,Dilbeek,1702,House,house,320000,1,4,120,0,0,...,0,0,0,0,256,3,1976,2,414,2
8,Steenokkerzeel,1820,House,house,395000,1,4,275,1,0,...,0,0,0,0,264,3,1930,2,406,4
9,Nassogne,6950,House,house,435000,1,3,165,1,0,...,0,0,0,0,4085,4,1960,2,356,2
10,Lier,2500,House,villa,719000,1,3,232,1,0,...,0,0,0,0,1246,4,1993,5,139,3
11,Grobbendonk,2280,House,mixed-use-building,895000,1,5,580,0,0,...,0,0,0,0,333,3,1983,2,429,3
12,Licage,4020,House,mixed-use-building,229000,1,3,218,0,0,...,0,0,0,0,50,2,1945,4,206,3
13,Petegem-aan-de-leie,9800,Apartment,apartment,199000,1,2,78,1,0,...,2,0,0,0,0,2,1973,6,98,3
14,Braine-le-chateau-wauthier-braine,1440,Apartment,ground-floor,319000,1,2,98,1,0,...,9,1,41,0,0,4,2010,4,205,3
15,Dinant,5501,House,house,399000,1,4,209,1,0,...,0,1,778,0,942,4,2002,4,204,3
16,Namur,5000,House,house,475000,1,4,230,1,0,...,15,1,200,0,314,2,1934,4,242,3
17,Tienen,3300,House,mixed-use-building,695000,1,5,285,0,0,...,0,1,330,0,598,2,1931,3,355,5
18,Astene,9800,House,house,329000,1,3,230,1,0,...,0,0,0,0,267,2,1957,2,467,2
19,Grimbergen,1850,House,house,325000,1,5,180,0,0,...,0,0,0,0,344,2,1932,2,452,1

In [292]:
df.describe()

,Zip Code,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,Open Fire,Terrace,Terrace Area (m2),Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building
count,12378.000000,1.237800e+04,12378.0,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000,12378.000000
mean,4398.227662,5.094514e+05,1.0,3.202537,191.206899,0.628050,0.029569,0.073518,0.420343,11.204314,0.306027,244.618517,0.046292,907.776862,2.863225,1959.955082,3.158345,317.300695,3.130150
std,3052.774893,5.373711e+05,0.0,1.478707,128.272355,0.483345,0.169401,0.260995,0.493634,22.348967,0.460860,1383.225240,0.210125,3446.256982,0.875522,38.510060,1.584333,198.284327,1.286009
min,1000.000000,2.750000e+04,1.0,1.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1753.000000,0.000000,95.000000,0.000000
25%,1790.000000,2.490000e+05,1.0,2.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1936.000000,2.000000,180.000000,2.000000
50%,3085.000000,3.590000e+05,1.0,3.000000,160.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,205.500000,3.000000,1967.000000,3.000000,264.500000,3.000000
75%,8000.000000,5.699750e+05,1.0,4.000000,237.000000,1.000000,0.000000,0.000000,1.000000,15.000000,1.000000,63.750000,0.000000,793.750000,4.000000,1988.000000,4.000000,392.000000,4.000000
max,9992.000000,9.350000e+06,1.0,15.000000,1100.000000,1.000000,1.000000,1.000000,1.000000,200.000000,1.000000,70470.000000,1.000000,160737.000000,4.000000,2026.000000,6.000000,2012.000000,5.000000

In [293]:
df.groupby('Zip Code')['Price'].describe()

,count,mean,std,min,25%,50%,75%,max
Zip Code,,,,,,,,
1000,207.0,6.661546e+05,727762.612506,120000.0,342500.0,460000.0,677500.00,5459000.0
1020,79.0,3.926329e+05,219372.542120,99000.0,239500.0,299000.0,524500.00,990000.0
1030,153.0,4.641046e+05,353489.231828,137500.0,269000.0,349000.0,595000.00,3300000.0
1040,77.0,7.544675e+05,625350.840148,175000.0,299000.0,520000.0,950000.00,3100000.0
1050,233.0,8.840622e+05,859282.951742,165000.0,365000.0,565000.0,1050000.00,6500000.0
...,...,...,...,...,...,...,...,...
9980,1.0,4.450000e+05,NaN,445000.0,445000.0,445000.0,445000.00,445000.0
9982,1.0,5.500000e+05,NaN,550000.0,550000.0,550000.0,550000.00,550000.0
9990,14.0,4.285339e+05,256671.383666,235000.0,250000.0,323900.0,470993.75,985000.0
9991,3.0,3.396667e+05,49652.123150,299000.0,312000.0,325000.0,360000.00,395000.0
9992,2.0,1.622500e+06,745997.654152,1095000.0,1358750.0,1622500.0,1886250.00,2150000.0

In [294]:
#Count the number of unique values, two ways are possible
df['Locality'].value_counts().count()
df['Locality'].nunique()

1636

In [295]:
df['Zip Code'].value_counts().count()
df['Zip Code'].nunique()

886

In [296]:
#Count duplicates for the same properties that have different URL.
df.duplicated(subset=df.columns.difference(['Url'])).value_counts()

False    12378
Name: count, dtype: int64

In [297]:
#Remove duplicates for the same properties that have different URL.
df.drop_duplicates(subset=df.columns.difference(['Url']), inplace=True)

In [298]:
df.shape

(12378, 22)

In [299]:
# Create the new 'Open Fire' column based on 'Number of Fireplaces (0 for 0 fireplaces and 1 for more than 1 fireplaces)
df['Open Fire'] = df['Number of Fireplaces'].apply(lambda x: 0 if x == 0 else 1)

KeyError: 'Number of Fireplaces'

In [ ]:
df.shape

(9988, 24)

In [ ]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url,Open Fire
0,Ottignies-louvain-la-neuve,1348,House,exceptional-property,3790000,for-sale,6,750,0,0,...,0,1,160737,4,1961,E,359,To be done up,https://www.immoweb.be/en/classified/exception...,0
1,Anthee,5520,House,castle,550000,for-sale,2,200,1,0,...,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...,1
2,Dinant,5500,House,castle,550000,for-sale,2,200,1,0,...,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...,1
3,Namur,5000,House,castle,550000,for-sale,2,200,1,0,...,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...,1
4,Waasmunster,9250,House,castle,3000000,for-sale,6,967,0,0,...,0,1,101349,4,1810,F,708,Good,https://www.immoweb.be/en/classified/castle/fo...,1

In [ ]:
# Find the index of the current 'Number of Fireplaces' column
fireplaces_index = df.columns.get_loc('Number of Fireplaces')

In [ ]:
#Insert the new 'Open Fire' column at the same index
df.insert(fireplaces_index, 'Open Fire', df.pop('Open Fire'))

In [ ]:
df.shape

(9988, 24)

In [ ]:
df.head()

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Ottignies-louvain-la-neuve,1348,House,exceptional-property,3790000,for-sale,6,750,0,0,...,0,0,1,160737,4,1961,E,359,To be done up,https://www.immoweb.be/en/classified/exception...
1,Anthee,5520,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
2,Dinant,5500,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
3,Namur,5000,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
4,Waasmunster,9250,House,castle,3000000,for-sale,6,967,0,0,...,0,0,1,101349,4,1810,F,708,Good,https://www.immoweb.be/en/classified/castle/fo...

In [ ]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire',
       'Number of Fireplaces', 'Terrace', 'Terrace Area (m2)', 'Garden',
       'Garden Area (m2)', 'Swimming Pool', 'Surface of the Land (m2)',
       'Number of Facades', 'Construction Year', 'PEB',
       'Primary Energy Consumption (kWh/m2)', 'State of the Building', 'Url'],
      dtype='object')

In [ ]:
#Rename a name of column "Open Fire" for "Number of Fireplaces"
df.rename(columns={'Open Fire': 'Number of Fireplaces'})

,Locality,Zip Code,Type of Property,Subtype of Property,Price,Type of Sale,Number of Rooms,Livable Space (m2),Fully Equipped Kitchen,Furnished,...,Garden,Garden Area (m2),Swimming Pool,Surface of the Land (m2),Number of Facades,Construction Year,PEB,Primary Energy Consumption (kWh/m2),State of the Building,Url
0,Ottignies-louvain-la-neuve,1348,House,exceptional-property,3790000,for-sale,6,750,0,0,...,0,0,1,160737,4,1961,E,359,To be done up,https://www.immoweb.be/en/classified/exception...
1,Anthee,5520,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
2,Dinant,5500,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
3,Namur,5000,House,castle,550000,for-sale,2,200,1,0,...,0,0,0,110000,0,0,C,234,Good,https://www.immoweb.be/en/classified/castle/fo...
4,Waasmunster,9250,House,castle,3000000,for-sale,6,967,0,0,...,0,0,1,101349,4,1810,F,708,Good,https://www.immoweb.be/en/classified/castle/fo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10120,Leuven,3000,Apartment,kot,193000,for-sale,1,20,1,1,...,0,0,0,0,0,2017,A,0,As new,https://www.immoweb.be/en/classified/kot/for-s...
10121,Leuven,3000,Apartment,kot,195000,for-sale,1,18,1,1,...,0,0,0,0,0,2017,A,0,As new,https://www.immoweb.be/en/classified/kot/for-s...
10122,Blankenberge,8370,Apartment,apartment,549900,for-sale,3,225,0,0,...,0,0,0,0,0,2024,A,0,As new,https://www.immoweb.be/en/classified/apartment...
10124,Mechelen,2800,House,house,840860,for-sale,4,237,0,0,...,0,0,0,0,0,0,A,0,As new,https://www.immoweb.be/en/classified/house/for...
10125,Mechelen,2800,Apartment,apartment,289879,for-sale,1,69,0,0,...,0,0,0,0,0,0,A,0,As new,https://www.immoweb.be/en/classified/apartment...

In [ ]:
df.columns

Index(['Locality', 'Zip Code', 'Type of Property', 'Subtype of Property',
       'Price', 'Type of Sale', 'Number of Rooms', 'Livable Space (m2)',
       'Fully Equipped Kitchen', 'Furnished', 'Open Fire',
       'Number of Fireplaces', 'Terrace', 'Terrace Area (m2)', 'Garden',
       'Garden Area (m2)', 'Swimming Pool', 'Surface of the Land (m2)',
       'Number of Facades', 'Construction Year', 'PEB',
       'Primary Energy Consumption (kWh/m2)', 'State of the Building', 'Url'],
      dtype='object')

In [ ]:
# Replace 'Number of facades' with 1 where 'Type of Property' is 0 (apartment) and 'Number of facades' is 0
df.loc[(df['Type of Property'] == 0) & (df['Number of Facades'] == 0), 'Number of Facades'] = 1

# Replace 'Number of Facades' with 2 where 'Subtype of Property' is 'duplex' or 'town-house' and 'Number of Facades' is 0
df.loc[(df['Subtype of Property'].isin(['duplex', 'town-house'])) & (df['Number of Facades'] == 0), 'Number of Facades'] = 2

# Replace 'Number of Facades' with 4 where 'Type of Property' is 1 (House) and 'Number of Facades' is 0
df.loc[(df['Type of Property'] == 1) & (df['Number of Facades'] == 0), 'Number of Facades'] = 4

In [ ]:
df['Number of Facades'].isnull

0        False
1        False
2        False
3        False
4        False
         ...
10120    False
10121    False
10122    False
10124    False
10125    False
Name: Number of Facades, Length: 9988, dtype: bool

In [ ]:
df['Number of Facades'].value_counts()

Number of Facades
2    3279
4    3116
0    2291
3    1414
1      24
6       1
9       1
Name: count, dtype: int64

In [ ]:
df.to_csv('csv_files\\v1_dataset.csv', index=False)